<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head.html" . }}

    <link rel="icon" type="image/png" href="{{ "faviconA.png" | relURL }}">
  
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
  
      gtag('consent', 'default', {
        'analytics_storage': 'denied',
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'wait_for_update': 500
      });
      dataLayer.push({'event': 'default_consent'});
    </script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PSQ6T2B9');</script>

  </head>
<body class="dark-theme">

  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSQ6T2B9"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  {{ partial "navbar.html" . }}
  {{ partial "cookie-banner.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}

  <script src="{{ "js/cookie-consent.js" | relURL }}" defer></script>
  
  {{ $effects := resources.Get "js/effects.js" | resources.Minify }}
  <script src="{{ $effects.RelPermalink }}" defer></script>

  <script src="/js/back-to-top.js" defer></script>

  {{ if .IsHome }}
  <a href="#" id="backToTopBtn" class="back-to-top-button" title="Наверх" aria-label="Вернуться наверх">
    ↑
  </a>
  {{ end }}
</body>
</html>