<section class="ideas-section">
  <div class="ideas-container">

    <div class="ideas-header">
      <h2 class="ideas-title">{{ i18n "ideas_title" }}</h2>
      <p  class="ideas-subtitle">{{ i18n "ideas_subtitle" }}</p>
    </div>

    <div class="ideas-grid">
      <!-- item 1 -->
      <div class="ideas-item">
        <div class="ideas-icon"><i class="fas fa-cubes"></i></div>
        <h3 class="ideas-item-title">{{ i18n "idea_components_title" }}</h3>
        <p  class="ideas-item-text">{{ i18n "idea_components_text" }}</p>
      </div>

      <!-- item 2 -->
      <div class="ideas-item">
        <div class="ideas-icon"><i class="fas fa-flask"></i></div>
        <h3 class="ideas-item-title">{{ i18n "idea_mix_title" }}</h3>
        <p  class="ideas-item-text">{{ i18n "idea_mix_text" }}</p>
      </div>

      <!-- item 3 -->
      <div class="ideas-item">
        <div class="ideas-icon"><i class="far fa-lightbulb"></i></div>
        <h3 class="ideas-item-title">{{ i18n "idea_design_title" }}</h3>
        <p  class="ideas-item-text">{{ i18n "idea_design_text" }}</p>
      </div>

      <!-- item 4 -->
      <div class="ideas-item">
        <div class="ideas-icon"><i class="fas fa-money-bill-wave"></i></div>
        <h3 class="ideas-item-title">{{ i18n "idea_payment_title" }}</h3>
        <p  class="ideas-item-text">{{ i18n "idea_payment_text" }}</p>
      </div>
    </div>
  </div>
</section>