<style>
  /* Растягиваем на весь экран */
  .yamap-full-bleed {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: 60px;
    height: 450px; 
    
    /* ХИРУРГИЧЕСКИЙ ФИЛЬТР: Делаем из светлой карты Яндекса идеальную темную */
    filter: invert(100%) hue-rotate(180deg) contrast(90%) grayscale(20%);
    -webkit-filter: invert(100%) hue-rotate(180deg) contrast(90%) grayscale(20%);
  }

  /* Жестко блокируем горизонтальный скролл */
  body {
    overflow-x: hidden;
  }
</style>

<div class="yamap-full-bleed">
  <script async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor:5fb1f25ea208c442cd6838fa268056bc7e1c5bee2e7add1b27478fb3bb3a0b3f&width=100%25&height=100%25&lang={{ .Get 0 | default "ru_RU" }}&scroll=true"></script>
</div>